* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
  color: white;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
<<<<<<< HEAD
  text-align: left;
=======
>>>>>>> 76eab54d41c23bf790a0af67d1623c29cb1ef1cb
}